body {
    background: #1a1a1a;
    color: #00bfff;
    font-family: Arial, Helvetica, sans-serif;
}
h1, p {
    text-align: center;
}

footer {
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
}